[Desktop Entry]
Categories=Graphics;Picker;
Comment=Color picker
Exec=deepin-picker
GenericName=Picker
Icon=deepin-picker
Name=Deepin Picker
StartupNotify=true
TryExec=deepin-picker
Type=Application
X-Deepin-Vendor=deepin
NoDisplay=true

# Translations:
# Do not manually modify!
Comment[ar]=منتقي اللون
Comment[ast]=Seleutor de colores
Comment[bg]=Избор на цвят
Comment[bn]=কালার পিকার
Comment[bo]=གཏིང་ཟབ་ཚོས་ལེན་ཆས།
Comment[ca]=Selector de color
Comment[cs]=Sběrač barev
Comment[da]=Farvepipette
Comment[de]=Farbpipette
Comment[es]=Selector de color
Comment[es_419]=Selector de color
Comment[et]=Värvivalija
Comment[fi]=Värien kerääjä
Comment[fr]=Pipette à couleurs
Comment[id]=Pemilih Warna
Comment[it]=Color picker
Comment[ko]=색상 선택 도구
Comment[lt]=Spalvos parinkiklis
Comment[ms]=Pemilih warna
Comment[ne]=रङ चयनकर्ता
Comment[nl]=Kleurkiezer
Comment[pl]=Zbieracz kolorów
Comment[pt]=Selector de cores
Comment[pt_BR]=Selecionador de cor
Comment[ru]=Выбор цвета
Comment[sk]=Výber farby
Comment[sq]=Zgjedhës ngjyrash
Comment[sr]=Пипета за боје
Comment[tr]=Renk seçici
Comment[uk]=Піпетка для кольорів
Comment[ug]=Deepin رەڭ ئالغۇچى
Comment[zh_CN]=取色器
Comment[zh_TW]=取色器
Comment[zh_HK]=取色器
GenericName[ar]=منتقي
GenericName[ast]=Seleutor
GenericName[bg]=Picker
GenericName[bn]=পিকার
GenericName[bo]=གཏིང་ཟབ་ཚོས་ལེན་ཆས།
GenericName[ca]=Selector
GenericName[cs]=Sběrač
GenericName[da]=Pipette
GenericName[de]=Auswahlwerkzeug
GenericName[es]=Seleccionar
GenericName[es_419]=Picker
GenericName[et]=Värvivalija
GenericName[fi]=Kerääjä
GenericName[fr]=Pipette
GenericName[id]=Pemilih
GenericName[it]=Picker
GenericName[ko]=선택 도구
GenericName[lt]=Parinkiklis
GenericName[ms]=Pemilih
GenericName[ne]=चयनकर्ता
GenericName[nl]=Kiezer
GenericName[pl]=Zbieracz kolorów
GenericName[pt]=Selector
GenericName[pt_BR]=Selecionador
GenericName[ru]=Сборщик Цветовых Кодов
GenericName[sk]=Výber
GenericName[sq]=Zgjedhës
GenericName[sr]=Пипета
GenericName[tr]=Renk Seçici
GenericName[uk]=Піпетка
GenericName[ug]=رەڭ ئالغۇچى
GenericName[zh_CN]=取色器
GenericName[zh_TW]=取色器
GenericName[zh_HK]=取色器
Name[ar]=منتقي الألوان ديبين
Name[ast]=Deepin Picker
Name[bg]=Deepin Picker
Name[bn]=ডিপিন পিকার
Name[bo]=གཏིང་ཟབ་ཚོས་ལེན་ཆས།
Name[ca]=Selector del Deepin
Name[cs]=Sběrač barev
Name[da]=Deepin pipette
Name[de]=Deepin Farbpipette
Name[es]=Deepin Picker
Name[es_419]=Deepin Picker
Name[et]=Deepin värvivalija
Name[fi]=Deepin kerääjä
Name[fr]=Deepin Picker
Name[id]=Pemilih Deepin
Name[it]=Deepin Picker
Name[ko]=Deepin 선택 도구
Name[lt]=Deepin parinkiklis
Name[ms]=Pemilih Deepin
Name[ne]=डिपिन चयनकर्ता
Name[nl]=Deepin Kleurkiezer
Name[pl]=Zbieracz kolorów Deepin
Name[pt]=Deepin Picker
Name[pt_BR]=Selecionador Deepin
Name[ru]=Сборщик Цветовых Кодов Deepin
Name[sk]=Deepin Výber
Name[sq]=Zgjedhësi Deepin
Name[sr]=Дипин Пипета
Name[tr]=Deepin Renk Seçici
Name[uk]=Піпетка Deepin
Name[ug]=Deepin رەڭ ئالغۇچى
Name[zh_CN]=深度取色器
Name[zh_TW]=Deepin 取色器
Name[zh_HK]=Deepin 取色器

